*{
    background-color: pink;
    
}
img{
    margin-top: 100px;
    width:100px ;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(90, 146, 90);
}
button{
    padding: 7px 7px 7px 7px;
    display: block;
    margin-bottom: 10px;;
}
p{
    color:rgb(255, 2, 2);
}